<div class="container d-flex justify-content-center mb-3 mt-3">
    <button class="btn" name="sumar" (click)="calcular($event)">+</button>
    <button class="btn" name="restar" (click)="calcular($event)">-</button>
    <button class="btn" name="multiplicar" (click)="calcular($event)">*</button>
    <button class="btn" name="dividir" (click)="calcular($event)">/</button>
    <button class="btn" name="elevar" (click)="calcular($event)">^</button>
    <button class="btn" name="limpiar" (click)="onLimpiar.emit()">Limpiar</button>
</div>